ETH_RPC_URL=YOUR_ETH_RPC_URL
OP_RPC_URL=YOUR_OP_RPC_URL
MONAD_RPC_URL=YOUR_MONAD_RPC_URL
BASE_RPC_URL=YOUR_BASE_RPC_URL
PLUME_RPC_URL=YOUR_PLUME_RPC_URL

DAYS_TO_MONITOR=45
ACRDX_DIFFERENCE_THRESHOLD=2
CHRONICLE_ORACLE_ADDRESS=0x9a3bF392f86acd1b1EC07d026B326302eAED7488
ACRDX_ETH_CONTRACT_ADDRESS=0x9477724Bb54AD5417de8Baff29e59DF3fB4DA74f
ACRDX_OP_CONTRACT_ADDRESS=0x2fabf1c784b8583d63c00c5c9c0377d8cf1a3245
ACRDX_MONAD_CONTRACT_ADDRESS=0x2fabf1c784b8583d63c00c5c9c0377d8cf1a3245
ACRDX_BASE_CONTRACT_ADDRESS2=0x9477724Bb54AD5417de8Baff29e59DF3fB4DA74f
ACRDX_PLUME_CONTRACT_ADDRESS=0x9477724Bb54AD5417de8Baff29e59DF3fB4DA74f
